<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>c homework</title>
</head>
<body>

<div class="app-container">
  <ul class="js-blog-list"></ul>
  <article class="js-blog-post"></article>
</div>

<script type="text/template" data-template-name="blog-list-template">
  <%= title %>
</script>

<script type="text/template" data-template-name="blog-post-template">
  <%= title %>
  <%= body %>
</script>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="c.js"></script>
</body>
</html>
